{% extends 'base.html.twig' %}

{% block title %}New ActivityList{% endblock %}

{% block body %}
    <h1>Create new ActivityList</h1>

    {{ include('activity_list/_form.html.twig') }}

    <a href="{{ path('app_activity_list_index') }}">back to list</a>
{% endblock %}
